%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.input :email, autofocus: true
  .field
    = f.input :password, autocomplete: "off"
  .field
    = f.input :password_confirmation, autocomplete: "off"
  .field
    = f.input :gender, label: 'Bathroom Gender Preference', collection: ['Male','Female','Gender-Neutral']
  .actions
    = f.button :submit, :class => 'btn btn-primary'

= render "devise/shared/links"
