.container
  %h1 Bathrooms#index
  %h2 Building: #{@building.name}

  = link_to "Create New Bathroom", new_building_bathroom_path(@building), :class => 'btn btn-primary'

  %table{:style => "width:100%;"}
    %thead
      %tr
        %th Gender
        %th Floor
        %th Location
        %th Actions
    %tbody
      - @bathrooms.each do |bathroom|
        %tr
          %td
            = bathroom.gender
          %td
            = bathroom.floor
          %td
            = bathroom.location
          %td
            = link_to "Show", building_bathroom_path(@building,bathroom), :class => 'btn'
            = link_to "Edit", edit_building_bathroom_path(@building,bathroom), :class => 'btn'
            = link_to "Destroy", building_bathroom_path(@building,bathroom), :class => 'btn btn-danger', method: :delete, :data => {confirm: 'Are you sure you want to delete this bathroom?'}

