.container
  %h2 Building: #{@building.name}

  - if @bathroom.errors.any?
    %h3
      = pluralize(@bathroom.errors.count, "error")
      prevented this bathroom from being added:
    %ul
      - @bathroom.errors.full_messages.each do |msg|
        %li= msg
  .col-xs-12.col-sm-5
    = simple_form_for @bathroom, url: building_bathrooms_path(@building), html: {class: 'form-horizontal'} do |f|
      = f.association :tags, collection: @tags, :error => false
      = f.input :gender, collection: @genders, :error => false
      = f.input :floor, :error => false
      = f.input :location, :error => false

      = f.button :submit, :class => 'btn btn-primary'
