.container-fluid{:style => 'padding-top:20px;'}
  .col-xs-12.col-sm-4
    .gender-image
      = render partial: 'shared/gender_picture', locals: { bathroom: @bathroom }
  .brnodisplay
    %br
  .col-xs-12.col-sm-8
    .bathroom-text
      %p{:style => 'font-size:40px;'}= @building.name
      %p{:style => 'font-size:20px;'}= 'Floor ' + @bathroom.floor
      %p{:style => 'font-size:20px;'}= @bathroom.location
      %p
        - @bathroom.tags.each do |tag|
          %div{class:"badge badge-pill badge-success"}
            =tag.name
%br
.container-fluid
  - if @bathroom.critiques.empty?
    .panel.panel-warning
      .panel-heading
        This bathroom has not been rated.
  - else
    %h3 Overall Rating: #{@bathroom.average_overall_rating}
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Toilet
        .panel-body
          = @bathroom.average_toilet_rating
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Sink
        .panel-body
          = @bathroom.average_sink_rating
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Cleanliness
        .panel-body
          = @bathroom.average_cleanliness_rating
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Smell
        .panel-body
          = @bathroom.average_smell_rating
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Privacy
        .panel-body
          = @bathroom.average_privacy_rating

  %br
  = link_to "Rate Me", building_bathroom_critiques_path(@building,@bathroom), :class => 'btn btn-primary'
  %br

  = link_to "Go Back", building_path(@building), :class => 'btn'
