.container

  %h3 Gender
  = @bathroom.gender

  %h3 Building
  = @building.name

  %h3 Location
  = @bathroom.floor + " Floor, " + @bathroom.location

  %h3 Ratings
  - if @bathroom.critiques.empty?
    .panel.panel-warning
      .panel-heading
        This bathroom has not been rated.
  - else
    %h3 Overall: #{@bathroom.average_overall_rating}
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Toilet
        .panel-body
          = @bathroom.average_toilet_rating
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Sink
        .panel-body
          = @bathroom.average_sink_rating
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Cleanliness
        .panel-body
          = @bathroom.average_cleanliness_rating
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Smell
        .panel-body
          = @bathroom.average_smell_rating
    .col-xs-4.col-md-2
      .panel.panel-primary
        .panel-heading
          Privacy
        .panel-body
          = @bathroom.average_privacy_rating

    %br
  = link_to "Rate Me", building_bathroom_critiques_path(@building,@bathroom), :class => 'btn btn-primary'
  %br

  = link_to "Go Back", building_bathrooms_path(@building), :class => 'btn'
