.container
  %h1 Buildings

  = link_to "Create New Building", new_building_path, :class => 'btn btn-primary'

  .separator

  - if @buildings.empty?
    %div{:class => "panel panel-warning"}
      .panel-heading{ :style => "text-align:center;"}
        = "There are no buildings."
  - else
    %table{:class => "table table-striped table-hover"}
      %thead
        %tr
          %th{:style => "width:20%;"} Name
          %th{:style => "width:40%;"} Address
          %th{:style => "width:30%;"} Actions
      %tbody
        - @buildings.order(:name).each do |building|
          %tr
            %td
              = building.name
            %td
              = building.address
            %td
              = link_to "Show", building_path(building), :class => 'btn btn-default'
              = link_to "Edit", edit_building_path(building), :class => 'btn btn-default'
              = link_to "Destroy", building_path(building), :class => 'btn btn-danger', method: :delete, :data => {confirm: 'Are you sure you want to delete this building?'}
