.container
  %h1 New Building

  - if @building.errors.any?
    %h3
      = pluralize(@building.errors.count, "error")
      prevented this building from being added:
    %ul
      - @building.errors.full_messages.each do |msg|
        %li= msg
  .col-xs-12.col-sm-5
    = simple_form_for @building, html: {class: 'form-horizontal'} do |f|
      = f.input :name, :error => false
      = f.input :address, :error => false

      = f.button :submit, :class => 'btn btn-primary'
