.container
  %h1
    = @building.name

  %h3 Address
  = @building.address

  .separator
  /%br
  /= link_to "Bathrooms", building_bathrooms_path(@building), :class => 'btn btn-default'
  /%br
  /Begin Bathroom Module
  %h3 Bathrooms

  .separator
  
  = link_to "Create New Bathroom", new_building_bathroom_path(@building), :class => 'btn btn-primary'
  
  - if @bathrooms.empty?
    %div{:class => "panel panel-warning"}
      .panel-heading{ :style => "text-align:center;"}
        = "There are no bathrooms for this building."
  - else
    .container
      .row
        - @bathrooms.each do |bathroom|
          .col-xs-12.col-sm-4
            .card
              .card-block
                = render partial: 'gender_picture', locals: { bathroom: bathroom }
                %h3.card-title
                  - bathroom.tags.each do |tag|
                    = tag.name
                  = bathroom.floor
                  = bathroom.location
                %p.card-text
                  = bathroom.gender
                  %br
                  - if bathroom.average_overall_rating.nan?
                    No Critiques
                  -else
                    - bathroom.average_overall_rating.to_i.times do
                      ★
                %div
                  = link_to "Show", building_bathroom_path(@building,bathroom), :class => 'btn btn-default'
/End Bathroom module
.separator
