.container
  %h1
    = @building.name

  %h3 Address
  = @building.address

  .separator

  %h3 Bathrooms

  .separator
  
  = link_to "Create New Bathroom", new_building_bathroom_path(@building), :class => 'btn btn-primary'
  
  - if @bathrooms.empty?
    %div{:class => "panel panel-warning"}
      .panel-heading{ :style => "text-align:center;"}
        = "There are no bathrooms for this building."
  - else
    .container
      .row
        - @bathrooms.each do |bathroom|
          .col-xs-12.col-sm-4
            .card
              .card-block
                = render partial: 'shared/gender_picture', locals: { bathroom: bathroom }
                %h5{:style => 'margin-bottom:5px;'}
                  = 'Floor ' + bathroom.floor.to_s
                %h3.card-title{:style => 'margin-top:0px;margin-bottom:5px;'}
                  = bathroom.location
                %p.card-text
                  - if bathroom.average_overall_rating.nan?
                    No Critiques
                  -else
                    - bathroom.average_overall_rating.to_i.times do
                      ★
                %div
                  = link_to "Show", building_bathroom_path(@building,bathroom), :class => 'btn btn-default'
.separator
