.container
  %h1 Critiques#index
  %h3 Building: #{@building.name}
  %h3 Bathroom: Floor #{@bathroom.floor} at #{@bathroom.location}

  = link_to "Create New Critique", new_building_bathroom_critique_path(@building,@bathroom), :class => 'btn btn-primary'

  %table{:style => "width:100%;"}
    %thead
      %tr
        %th Overall
        %th Toilet
        %th Sink
        %th Cleanliness
        %th Smell
        %th Privacy
    %tbody
      - @critiques.each do |critique|
        %tr
          %td
            = critique.overall_rating
          %td
            = critique.toilet_rating
          %td
            = critique.sink_rating
          %td
            = critique.cleanliness_rating
          %td
            = critique.smell_rating
          %td
            = critique.privacy_rating
          %td
            = link_to "Show", building_bathroom_critique_path(@building,@bathroom,critique), :class => 'btn'
            = link_to "Edit", edit_building_bathroom_critique_path(@building,@bathroom,critique), :class => 'btn'
            = link_to "Destroy", building_bathroom_critique_path(@building,@bathroom,critique), :class => 'btn btn-danger', method: :delete, :data => {confirm: 'Are you sure you want to delete this critique?'}

