.container
  %h1 Critiques
  %h3 Building: #{@building.name}
  %h3 Bathroom: Floor #{@bathroom.floor} at #{@bathroom.location}


  %h3 My Critique
  - if @current_user_critiques.empty?
    .panel.panel-warning
      .panel-heading{:style => "text-align:center;"}
        = "Looks like you haven't critiqued this seat!"
        .separator
        = link_to "Create New Critique", new_building_bathroom_critique_path(@building,@bathroom), :class => 'btn btn-primary'
  - else
    %table{:style => "width:100%;", :class => "table table-striped"}
      %thead
        %tr
          %th Overall
          %th Toilet
          %th Sink
          %th Cleanliness
          %th Smell
          %th Privacy
          %th Actions
      %tbody
        - @current_user_critiques.each do |critique|
            %tr
              %td
                = critique.overall_rating
              %td
                = critique.toilet_rating
              %td
                = critique.sink_rating
              %td
                = critique.cleanliness_rating
              %td
                = critique.smell_rating
              %td
                = critique.privacy_rating
              %td
                /= link_to "Show", building_bathroom_critique_path(@building,@bathroom,critique), :class => 'btn'
                = link_to "Edit", edit_building_bathroom_critique_path(@building,@bathroom,critique), :class => 'btn'
                = link_to "Remove", building_bathroom_critique_path(@building,@bathroom,critique), :class => 'btn btn-danger', method: :delete, :data => {confirm: 'Are you sure you want to delete this critique?'}

  .separator

  %h3 Critiques
  - if @other_user_critiques.empty?
    .panel.panel-warning
      .panel-heading{:style => "text-align:center;"}
        = "Looks like no one has critiqued this seat!"
  - else
    %table{:style => "width:100%;", :class => "table table-striped"}
      %thead
        %tr
          %th Overall
          %th Toilet
          %th Sink
          %th Cleanliness
          %th Smell
          %th Privacy
      %tbody
        - @other_user_critiques.each do |critique|
            %tr
              %td
                = critique.overall_rating
              %td
                = critique.toilet_rating
              %td
                = critique.sink_rating
              %td
                = critique.cleanliness_rating
              %td
                = critique.smell_rating
              %td
                = critique.privacy_rating
